In [1]:
import pandas as pd

# 1. Import dataset

In [2]:
df = pd.read_csv('tennis.txt',sep=' ',header=None)

In [3]:
df.columns = ['id','cuaca','suhu','kelembapan','arah_angin','is_play_tennis']

In [4]:
df

    id    cuaca    suhu kelembapan arah_angin is_play_tennis
0    1    Cerah   Panas     Tinggi     Stabil          Tidak
1    2    Cerah   Panas     Tinggi      Labil          Tidak
2    3  Mendung   Panas     Tinggi     Stabil             Ya
3    4    Hujan  Sedang     Tinggi     Stabil             Ya
4    5    Hujan  Dingin     Normal     Stabil             Ya
5    6    Hujan  Dingin     Normal      Labil          Tidak
6    7  Mendung  Dingin     Normal      Labil             Ya
7    8    Cerah  Dingin     Tinggi     Stabil          Tidak
8    9    Cerah  Dingin     Normal     Stabil             Ya
9   10    Hujan  Sedang     Normal     Stabil             Ya
10  11    Cerah  Sedang     Normal      Labil             Ya
11  12  Mendung  Sedang     Tinggi      Labil             Ya
12  13  Mendung   Panas     Normal     Stabil             Ya
13  14    Hujan  Sedang     Tinggi      Labil          Tidak

# 2. Calculate probability

Jika Cuaca=Cerah, Suhu=Dingin, Kelembaban=Tinggi, Angin=Labil apakah kita sebaiknya
main tennis ?

- jika peluang bermain tennis > peluang tidak bermain tennis, maka kita sebaiknya bermain tennis
- dan sebaliknya

In [13]:
# bermain tennis atau tidak
total_ya = len(df[df.is_play_tennis=='Ya'])
total_tidak = len(df[df.is_play_tennis=='Tidak'])

prob_ya = total_ya/len(df)
prob_tidak = total_tidak/len(df)

print(prob_ya)
print(prob_tidak)

0.6428571428571429
0.35714285714285715

In [6]:
## cuaca
prob_cerah_dan_bermain = len(df[(df.cuaca=='Cerah')&(df.is_play_tennis=='Ya')])/total_ya
prob_cerah_dan_tidakbermain = len(df[(df.cuaca=='Cerah')&(df.is_play_tennis=='Tidak')])/total_tidak

In [7]:
## suhu
prob_dingin_dan_bermain = len(df[(df.suhu=='Dingin')&(df.is_play_tennis=='Ya')])/total_ya
prob_dingin_dan_tidakbermain = len(df[(df.suhu=='Dingin')&(df.is_play_tennis=='Tidak')])/total_tidak

In [8]:
## kelembapan
prob_tinggi_dan_bermain = len(df[(df.kelembapan=='Tinggi')&(df.is_play_tennis=='Ya')])/total_ya
prob_tinggi_dan_tidakbermain = len(df[(df.kelembapan=='Tinggi')&(df.is_play_tennis=='Tidak')])/total_tidak

In [9]:
## arah angin
prob_labil_dan_bermain = len(df[(df.arah_angin=='Labil')&(df.is_play_tennis=='Ya')])/total_ya
prob_labil_dan_tidakbermain = len(df[(df.arah_angin=='Labil')&(df.is_play_tennis=='Tidak')])/total_tidak

## 2.1 Peluang Bermain Tennis
Kita akan menghitung peluang bermain tennis ketika
- Cuaca=Cerah
- Suhu=Dingin
- Kelembaban=Tinggi
- Angin=Labil

In [10]:
Peluang_Bermain_Tennis = prob_cerah_dan_bermain*prob_dingin_dan_bermain*prob_tinggi_dan_bermain*prob_labil_dan_bermain*prob_ya
Peluang_Bermain_Tennis

0.005291005291005291

## 2.2 Peluang Tidak Bermain Tennis
Kita akan menghitung peluang tidak bermain tennis ketika
- Cuaca=Cerah
- Suhu=Dingin
- Kelembaban=Tinggi
- Angin=Labil

In [11]:
Peluang_Tidak_Bermain_Tennis = prob_cerah_dan_tidakbermain*prob_dingin_dan_tidakbermain*prob_tinggi_dan_tidakbermain*prob_labil_dan_tidakbermain*prob_tidak
Peluang_Tidak_Bermain_Tennis

0.04114285714285714

# 3. Decision
Mana yang lebih tinggi peluangnya ?

In [15]:
"""
Karena peluang tidak bermain tennis > peluang bermain tennis (0.00529 > 0.0411),
maka kita seharusnya tidak bermain tennis
"""
print("Peluang Bermain Tennis =",Peluang_Bermain_Tennis)
print("Peluang Tidak Bermain Tennis =",Peluang_Tidak_Bermain_Tennis)

Peluang Bermain Tennis = 0.005291005291005291
Peluang Tidak Bermain Tennis = 0.04114285714285714