In [53]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import StratifiedKFold, cross_val_score,GridSearchCV

## Import Data

In [74]:
url = 'https://raw.githubusercontent.com/arofiqimaulana/dataset/master/iris.csv'
df = pd.read_csv(url)

In [55]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

## Split Dataset into data training and data testing

In [56]:
# split data
kolom_X = ['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']
kolom_y = ['target']

X = df[kolom_X]
y = df[kolom_y]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

## Scalling

In [57]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Modelling

In [58]:
# Modelling
knn_fit = KNeighborsClassifier(n_neighbors = 3).fit(X_train, y_train.values.ravel())

## Predictions

In [59]:
y_pred = knn_fit.predict(X_test)

## Model Evaluations

In [60]:
# Making the Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[ 7,  0,  0],
       [ 0, 13,  1],
       [ 0,  1,  8]], dtype=int64)

In [71]:
cv=StratifiedKFold()

RMSE = mean_squared_error(y_test, y_pred)
akurasi = cross_val_score(knn_fit, X_train,  y_train.values.ravel(),cv=cv)

In [73]:
print("RMSE :",RMSE)
print("Accurary :", akurasi)

RMSE : 0.06666666666666667
Accurary : [0.95833333 0.95833333 0.91666667 0.875      0.95833333]