In [1]:
import pandas as pd
import math
import numpy
from scipy.stats import entropy
import matplotlib.pyplot as plt

## Algoritma ID3
1. Hitung nilai Entropy untuk semua variabel

# 1. Import Data

In [2]:
df = pd.read_excel('Hp.xlsx')

In [24]:
df

   Handphone Baterai  Kamera         Harga Layak Direkomendasikan
0         H1    Kuat  Tinggi  Sangat Murah                     Ya
1         H2    Kuat  Tinggi  Sangat Mahal                     Ya
2         H3    Kuat  Sedang         Mahal                     Ya
3         H4    Kuat  Rendah         Mahal                  Tidak
4         H5   Cukup  Tinggi  Sangat Murah                     Ya
5         H6   Cukup  Sedang         Mahal                     Ya
6         H7   Cukup  Sedang  Sangat Mahal                     Ya
7         H8   Cukup  Tinggi         Murah                     Ya
8         H9   Cukup  Rendah         Mahal                  Tidak
9        H10   Lemah  Tinggi  Sangat Murah                     Ya
10       H11   Lemah  Tinggi  Sangat Mahal                  Tidak
11       H12   Lemah  Sedang         Mahal                  Tidak
12       H13   Lemah  Sedang         Murah                  Tidak
13       H14   Lemah  Rendah  Sangat Mahal                  Tidak

# 2. Descriptive

In [36]:
df['Baterai'].value_counts()

Cukup    5
Lemah    5
Kuat     4
Name: Baterai, dtype: int64

In [37]:
df['Kamera'].value_counts()

Tinggi    6
Sedang    5
Rendah    3
Name: Kamera, dtype: int64

In [39]:
df['Harga'].value_counts()

Mahal           5
Sangat Mahal    4
Sangat Murah    3
Murah           2
Name: Harga, dtype: int64

In [40]:
df['Layak Direkomendasikan'].value_counts()

Ya       8
Tidak    6
Name: Layak Direkomendasikan, dtype: int64

# 3. Hitung nilai Gain Ratio

In [68]:
## Gain Ratio untuk variabel Baterai
S = entropy([8/14, 6/14], base=2)

S_kuat = entropy([3/4, 1/4], base=2)
S_cukup = entropy([4/5, 1/5], base=2)
S_lemah = entropy([1/5, 4/5], base=2)

gain = S - (4/14)*S_kuat - (5/14)*S_cukup - (5/14)*S_lemah

split = entropy([4/14, 5/14,5/14], base=2)

gain_ratio = gain/split
gain_ratio

0.15073571333777758

In [69]:
## Gain Ratio untuk variabel Kamera
S = entropy([8/14, 6/14], base=2)

S_Tinggi = entropy([5/6, 1/6], base=2)
S_Sedang = entropy([3/5, 2/5], base=2)
S_Rendah = entropy([0/3, 3/3], base=2)

gain = S - (6/14)*S_Tinggi - (5/14)*S_Sedang - (3/14)*S_Rendah

split = entropy([6/14, 5/14,3/14], base=2)

gain_ratio = gain/split
gain_ratio

0.23511992857012567

In [70]:
## Gain Ratio untuk variabel Harga
S = entropy([8/14, 6/14], base=2)

S_Mahal = entropy([2/5, 3/5], base=2)
S_SangatMahal = entropy([2/4, 2/4], base=2)
S_SangatMurah = entropy([3/3, 0/3], base=2)
S_Murah = entropy([1/2, 1/2], base=2)

gain = S - (5/14)*S_Mahal - (4/14)*S_SangatMahal - (3/14)*S_SangatMurah -(2/14)*S_Murah

split = entropy([5/14, 4/14,3/14,2/14], base=2)

gain_ratio = gain/split
gain_ratio

0.10907984391528512

In [72]:
## Berdasarkan gain ratio, variabel yang akan dijadikan sebagai root adalah Kamera karena memiliki gain tertinggi

# 4. Percabangan variabel Kamera
Variabel kamera ditetapkan sebagai root, sehingga perlu di buat percabangan di tiap kelasnya. Percabangan dari kelas mana, akan kita pilih dari count yang terbanyak.

In [77]:
df['Kamera'].value_counts()

Tinggi    6
Sedang    5
Rendah    3
Name: Kamera, dtype: int64

In [75]:
df[df.Kamera=='Tinggi']

   Handphone Baterai  Kamera         Harga Layak Direkomendasikan
0         H1    Kuat  Tinggi  Sangat Murah                     Ya
1         H2    Kuat  Tinggi  Sangat Mahal                     Ya
4         H5   Cukup  Tinggi  Sangat Murah                     Ya
7         H8   Cukup  Tinggi         Murah                     Ya
9        H10   Lemah  Tinggi  Sangat Murah                     Ya
10       H11   Lemah  Tinggi  Sangat Mahal                  Tidak

In [78]:
## Gain Ratio untuk variabel baterai
S = entropy([5/6, 1/6], base=2)

S_kuat = entropy([2/2, 0/2], base=2)
S_cukup = entropy([2/2, 0/2], base=2)
S_lemah = entropy([1/2, 1/2], base=2)

gain = S - (2/6)*S_kuat - (2/6)*S_cukup - (2/6)*S_lemah

split = entropy([2/6, 2/6, 2/6], base=2)

gain_ratio = gain/split
gain_ratio

0.1998085684493656

In [83]:
## Gain Ratio untuk variabel Harga
S = entropy([5/6, 1/6], base=2)

S_SangatMahal = entropy([1/2, 1/2], base=2)
S_SangatMurah = entropy([3/3, 0/3], base=2)
S_Murah = entropy([1/1, 0/1], base=2)

gain = S - (2/6)*S_SangatMahal - (3/6)*S_SangatMurah -(1/6)*S_Murah

split = entropy([0/6, 2/6,3/6,1/6], base=2)

gain_ratio = gain/split
gain_ratio

0.21703700126592965

# 5. Percabangan Variabel Harga
pada tabel dibawah ini, variabel harga dengan kelas "Sangat Murah" menghasilkan Hasil "Ya" Semua, sehingga kelas tersebut akan tidak akan dibuat cabang lagi.

In [84]:
df[df.Kamera=='Tinggi']

   Handphone Baterai  Kamera         Harga Layak Direkomendasikan
0         H1    Kuat  Tinggi  Sangat Murah                     Ya
1         H2    Kuat  Tinggi  Sangat Mahal                     Ya
4         H5   Cukup  Tinggi  Sangat Murah                     Ya
7         H8   Cukup  Tinggi         Murah                     Ya
9        H10   Lemah  Tinggi  Sangat Murah                     Ya
10       H11   Lemah  Tinggi  Sangat Mahal                  Tidak

In [85]:
df[df.Kamera=='Tinggi'][df[df.Kamera=='Tinggi'].Harga=='Sangat Murah']

  Handphone Baterai  Kamera         Harga Layak Direkomendasikan
0        H1    Kuat  Tinggi  Sangat Murah                     Ya
4        H5   Cukup  Tinggi  Sangat Murah                     Ya
9       H10   Lemah  Tinggi  Sangat Murah                     Ya

# 6. Percabangan Kelas Harga

In [87]:
df[df.Kamera=='Tinggi'][df[df.Kamera=='Tinggi'].Harga== 'Murah']

  Handphone Baterai  Kamera  Harga Layak Direkomendasikan
7        H8   Cukup  Tinggi  Murah                     Ya

In [88]:
df[df.Kamera=='Tinggi'][df[df.Kamera=='Tinggi'].Harga== 'Sangat Murah']

  Handphone Baterai  Kamera         Harga Layak Direkomendasikan
0        H1    Kuat  Tinggi  Sangat Murah                     Ya
4        H5   Cukup  Tinggi  Sangat Murah                     Ya
9       H10   Lemah  Tinggi  Sangat Murah                     Ya

In [89]:
df[df.Kamera=='Tinggi'][df[df.Kamera=='Tinggi'].Harga== 'Sangat Mahal']

   Handphone Baterai  Kamera         Harga Layak Direkomendasikan
1         H2    Kuat  Tinggi  Sangat Mahal                     Ya
10       H11   Lemah  Tinggi  Sangat Mahal                  Tidak

# 7. Next Step
iterasi akan terus dilakukan sampai entropy pada masing-masing kelas = 0 dan kemudian dilanjutkan iterasi ke variabel lain