# Confusion Matrix
kita akan membuat confusion matrix secara manual dan via sklearn

# 1. Manual

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
obj = ['a','b','c','d','e','f','g','h']
prediksi = [1,1,0,1,1,0,1,0]
aktual = [1,0,0,0,0,1,1,1]

In [5]:
df = pd.DataFrame({
    'objek' : obj,
    'prediction' : prediksi,
    'actual' : aktual
})

In [6]:
df

  objek  prediction  actual
0     a           1       1
1     b           1       0
2     c           0       0
3     d           1       0
4     e           1       0
5     f           0       1
6     g           1       1
7     h           0       1

In [7]:
def label(df):
    if (df['prediction'] == 1) & (df['actual'] == 1):
        return 'TP'
    if (df['prediction'] == 1) & (df['actual'] == 0):
        return 'FP'
    if (df['prediction'] == 0) & (df['actual'] == 1):
        return 'FN'
    if (df['prediction'] == 0) & (df['actual'] == 0):
        return 'TN'

In [8]:
df['status'] =  df.apply(label,axis=1)

In [9]:
df

  objek  prediction  actual status
0     a           1       1     TP
1     b           1       0     FP
2     c           0       0     TN
3     d           1       0     FP
4     e           1       0     FP
5     f           0       1     FN
6     g           1       1     TP
7     h           0       1     FN

In [10]:
# Menghitung total TP,FP,TN,FN di treshold 0.9
TP = len(df[df.status=='TP'])
FP = len(df[df.status=='FP'])
TN = len(df[df.status=='TN'])
FN = len(df[df.status=='FN'])

In [11]:
## Confusion Matrix

In [12]:
# pastikan susunan nya benar/sesuai keinginan
df_CM = pd.DataFrame([
        [TP,FP],
        [FN,TN]
])

In [13]:
df_CM.columns = ['actual_1','actual_0']
df_CM.index = ['prediction_1','prediction_0']

In [14]:
df_CM

              actual_1  actual_0
prediction_1         2         3
prediction_0         2         1

## Accuracy

In [16]:
## Accuracy = (TP+TN)/(TP+TN+FP+FN)
Accuracy = (TP + TN)/(TP + FP + TN + FN)
Accuracy

0.375

## Precision

In [18]:
# Precision = (TP)/(TP + FP)
Precision = (TP)/(TP + FP)
Precision

0.4

## Recall / Sensitivity / TPR

In [20]:
## recall = (TP)/(TP+FN)
Recall = (TP)/(TP + FN)
Recall

0.5

## Specificity / TNR

In [22]:
## specificity = (TN)/(TN+FP) 
Specificity = (TN)/(TN+FP) 
Specificity

0.25

## F1-Score

In [24]:
# F1 Score = 2*(Precision*Recall)/(Precision+Recall) 
F1_score = 2*(Precision*Recall)/(Precision+Recall)
F1_score

0.4444444444444445

In [25]:
2*(0.4 * 0.5)/(0.4+0.5)

0.4444444444444445

In [26]:
Accuracy,Precision,Recall,Specificity,F1_score

(0.375, 0.4, 0.5, 0.25, 0.4444444444444445)

# 2. via sklearn

In [28]:
from sklearn.metrics import confusion_matrix

In [29]:
cm = confusion_matrix(aktual, prediksi)
tn, fp, fn, tp = cm.ravel().tolist()

In [30]:
# pastikan susunan nya benar/sesuai keinginan
df_cm = pd.DataFrame([
        [tp,fp],
        [fn,tn]
])

In [31]:
df_cm

   0  1
0  2  3
1  2  1

In [32]:
df_cm.columns = ['actual_1','actual_0']
df_cm.index = ['prediction_1','prediction_0']

In [33]:
df_cm

              actual_1  actual_0
prediction_1         2         3
prediction_0         2         1

In [34]:
import pandas as pd
from sklearn.metrics import (
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
    confusion_matrix
)
import numpy as np

In [35]:
accuracy     = accuracy_score(aktual, prediksi)
precision    = precision_score(aktual, prediksi)        # default pos_label=1
recall       = recall_score(aktual, prediksi)           # = sensitivity
specificity  = TN / (TN + FP) if (TN + FP) > 0 else 0  # TN / (TN + FP)
f1_score     = f1_score(aktual, prediksi)

In [36]:
accuracy,precision,recall,specificity,f1_score

(0.375, 0.4, 0.5, 0.25, 0.4444444444444444)

In [37]:
# 5. Tampilkan laporan
from sklearn.metrics import classification_report
print(classification_report(
    aktual,           # Label sebenarnya
    prediksi          # Prediksi model
))

              precision    recall  f1-score   support

           0       0.33      0.25      0.29         4
           1       0.40      0.50      0.44         4

    accuracy                           0.38         8
   macro avg       0.37      0.38      0.37         8
weighted avg       0.37      0.38      0.37         8

# 3.Perbandingan

In [39]:
df_CM

              actual_1  actual_0
prediction_1         2         3
prediction_0         2         1

In [40]:
df_cm

              actual_1  actual_0
prediction_1         2         3
prediction_0         2         1

In [41]:
print(TN, FP, FN, TP)
print(tn, fp, fn, tp)

1 3 2 2
1 3 2 2

In [42]:
print(Accuracy,Precision,Recall,Specificity,F1_score)
print(accuracy,precision,recall,specificity,f1_score)

0.375 0.4 0.5 0.25 0.4444444444444445
0.375 0.4 0.5 0.25 0.4444444444444444